#API
# Dependências
MedWork*API/node_modules/
# misc
MedWork*API/*.log

#DATABASE

#WEB
# Dependências
MedWork*Web/medico/node_modules
MedWork*Web/administracao/node_modules
MedWork*Web/recepcao/node_modules
MedWork*Web/administracao-hospital/node_modules

#MOBILE
MedWork*Mobile/node_modules
MedWork*Mobile/.expo
MedWork*Mobile/npm-debug.
MedWork*Mobile/*.jks
MedWork*Mobile/*.p8
MedWork*Mobile/*.p12
MedWork*Mobile/*.key
MedWork*Mobile/*.mobileprovision
MedWork*Mobile/*.orig.*
MedWork*Mobile/web-build
MedWork*Mobile/variables.js

# macOS
MedWork*Mobile/.DS_Store