.Menu{
    display: block !important;
    background-color: #43425D !important;
    height: 100vh !important;
    width: 250px !important;
    padding-top: 10px;

}
.Menu a{
    display: block !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #fff !important;
    text-decoration: none !important;

} 
.Menu a:hover{
    background-color: rgba(255, 255, 255, 0.144) !important;
}

.Menu .sair{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
}
.Menu i{
    padding-left: 15px !important;
    padding-right: 10px !important;
    align-self: center !important;
}


/* MENU SMALL */

.Menu-sm{
    background-color: #43425D !important;
    height: 3rem !important;
    width: 100% !important;
    padding-top: 10px;
    text-align: center;

}
.Menu-sm a{
    margin-left: 5px ;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    color: #fff !important;
    text-decoration: none !important;

} 
.Menu-sm a:hover{
    background-color: rgba(255, 255, 255, 0.144) !important;
}

.Menu-sm i{
    padding-left: 10px !important;
    padding-right: 10px !important;
    align-self: center !important;
}